<h2>Editar Usuario</h2>

<form (ngSubmit)="saveChanges()" #userForm="ngForm" class="user-form">
  <div>
    <label>Nombre:</label>
    <input type="text" name="userName" [(ngModel)]="user.userName" required>
  </div>
  <div>
    <label>Apellido:</label>
    <input type="text" name="userLastName" [(ngModel)]="user.userLastName" required>
  </div>
  <div>
    <label>Email:</label>
    <input type="text" name="userEmail" [(ngModel)]="user.userEmail" required>
  </div>
  <div>
    <label>Ciudad:</label>
    <input type="text" name="userCity" [(ngModel)]="user.userCity" required>
  </div>
  <div>
    <label>Provincia:</label>
    <input type="text" name="userProvince" [(ngModel)]="user.userProvince" required>
  </div>
  <div>
    <label>Dirección:</label>
    <input type="text" name="userAddress" [(ngModel)]="user.userAddress" required>
  </div>
  <div>
    <label>Carrera:</label>
    <select name="userCarrera" [(ngModel)]="user.userCarrera" (change)="onCarreraSelect($event)" required>
      <option *ngFor="let carrera of carreras" [value]="carrera.id">{{ carrera.nombre }}</option>
    </select>
  </div>

  <div>
    <label>Curso:</label>
    <select name="userCurso" [(ngModel)]="user.userCurso" required>
      <option *ngFor="let curso of cursos" [value]="curso.nombre">{{ curso.nombre }}</option>
    </select>
  </div>
  <button type="submit">Guardar cambios</button>
</form>
