<div class="footer-container">
    <div>
      <p>Facultad CH</p>
      <p>Calle inventada 1234, en alguna parte del mundo</p>
    </div>
    <div class="contacto">
      <h4>CONTACTO</h4>
      <p>Comunicate a través de WhatsApp</p>
      <p>Teléfono: (011) 0800-0000-000</p>
      <p>E-mail: prueba&#64;prueba.edu.ar</p>
    </div>
    <div class="actividades">
      <h4>OTRAS ACTIVIDADES</h4>
      <p>Secretaría de Investigación</p>
      <p>Extensión Universitaria</p>
      <p>Consultá el catálogo de Biblioteca</p>
    </div>
    <div class="ayuda">
      <h4>MESA DE AYUDA</h4>
      <p>Por dudas o consultas escríbenos a: pruebaSistemas&#64;prueba.edu.ar</p>
    </div>
  </div>